# 以'#'开始的行，被视为注释.                                                                                                                          
node_modules
data.log/*log*
database/*.sqlite*
.sass-cache
package-lock.json
.svn
~*
.gitattributes
test*
ConfigSecret.js
.idea
*.db
*.rdb
upload/*/*_*