# 以'#'开始的行，被视为注释.                                                                                                                          
node_modules
.sass-cache
package-lock.json
.svn
~*
.gitattributes
test*
.idea
*.db
*.rdb
backup/*.tgz
database/*.sqlite
_logbase/*.log*
upload/*
ConfigCustom.js
ConfigDynamic.js
ConfigSecret.js