# 以'#'开始的行，被视为注释.                                                                                                                          
node_modules
.sass-cache
package-lock.json
.svn
~*
.gitattributes
test*
.idea
*.db
*.rdb
_archive/*
_datastore/*
_logstore/*
_filestore/*
envar-base-custom.js
envar-base-dynamic.js
envar-base-secret.js
!.gitkeep